* {
  margin: 0;
  padding: 0;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body, #root {
  height: 100%;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.app{
  width: 100%;
  height: 100%;
  background-color: #19181e;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: auto;
  height: 100%;
  width: 80%; 
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 33%;
  padding: 10px; 
  margin: 5px;
}


.analysis p {
  font-size: 16px;
}

.fightcard {
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.fighter-info, .fighter-stats {
  position: absolute; 
  color: #ffffff; 
  width: 100%;  
  padding: 1%;  
}

.fighter-info {
  top: 3%;
  left: 3%;
}

.fighter-name .first-name, .fighter-name .last-name {
  font-size: 26px;
  display: block;
}

.fightcard .fighter-info, .fightcard .fighter-stats {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.fightcard .fighter-info, .fightcard .fighter-stats p {
  font-size: 16px;
}

.nick-name {
  color: #a8a8ac;
}

.fighter-name .last-name {
  font-weight: bold; 
}

.fighter-stats {
  bottom: 3%;
  left: 3%;
}

.stat {
  margin: 0;
}

.predictor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  margin: 2px;
  height: 100%; 
  width: 100%;
  color: #ffffff;
}

.predictor h1 {
  text-align: center;
}

.predictor p {
  text-align: center;
  font-weight: 100;
  font-size: 16px;
}

.predictor form {
  display: flex;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictor label {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
}

.predictor input[type="text"] {
  border: none;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

.predictor input[type="text"]:focus {
  border-color: #cf1d0d; 
}

.predictor button {
  background-color: #cf1d0d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.predictor button:hover {
  background-color: #cf1d0d94; 
}



@media only screen and (max-width: 768px) {
  
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }
  
  .fighter-name .first-name, .fighter-name .last-name {
    font-size: 24px;
  }
}
@media only screen and (max-height: 600px) {
  
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }
  
  .fighter-name .first-name, .fighter-name .last-name {
    font-size: 24;
  }
}

