*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100vh;
  background-color: #19181e;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fighter-card, .predictor-column {
  margin: 10px;
  padding: 10px;
}

.fightcard-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 10px;
  min-width: 300px;
  min-height: 400px; 
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.fighter-info {
  align-self: flex-start;
  margin-bottom: 15px;
}

.fighter-name {
  font-size: 24px;
}

.first-name {
  display: block; 
  font-weight: normal;
}

.last-name {
  display: block; 
  font-weight: bold; 
}

.nick-name {
  font-size: 18px;
  font-style: italic;
  margin-top: 5px;
  color: gray; 
}

.fighter-stats {
  align-self: flex-start;
  margin-top: auto;
}

.stat {
  margin-bottom: 5px;
  font-size: 16px;
}

.predictor-column {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  height: 100%;  
}

.predictor-title h1 {
  margin-top: 0;
  margin-bottom: 20px; 
}

.predictor-form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 15px;  
}

.predictor-form form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 15px;  
}

.predictor-prediction {
  margin-top: 20px;
}


/* Button Styling */
button {
  padding: 10px 20px;
  background-color: #cf1d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cf1d0d93;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

Select {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}